<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pbl2.sub119.backend.party.common.mapper.PartyHistoryMapper">

    <!-- 파티 이력 저장 -->
    <insert id="insertHistory"
            parameterType="pbl2.sub119.backend.party.common.entity.PartyHistory"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO party_history (
            party_id,
            member_id,
            event_type,
            event_payload,
            created_at,
            created_by
        ) VALUES (
                     #{partyId},
                     #{memberId},
                     #{eventType},
                     #{eventPayload},
                     #{createdAt},
                     #{createdBy}
                 )
    </insert>

</mapper>