spring:
  datasource:
    url: jdbc:h2:mem:subSave;MODE=MySQL;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  sql:
    init:
      mode: always # schema.sql 자동 실행

mybatis:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl